<center>
<form action="login.php" method="post" onsubmit="return checkinput()">
<table class='gridtable'>
  <tr>
    <td class="gridtable td" width="83">学籍番号:</td>
    <td width="495"><input type="text" name="number" id="number" size="30"></td>
 
  </tr>
  <tr>
    <td>名前:</td>
    <td><input type="text" name="name" id="name" size="30"></td>
  </tr>
  <tr>
    <td>英語習熟度:</td>
    <td><strong>TOEIC:</strong><input type="text" name="toeic" size="5" />点&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <strong>TOEFL:</strong><input type="text" name="toefl"  size="5"/>点&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       <strong>英検:</strong><input type="text" name="eiken"  size="5"/>級
        <p><font color="#FF0000">＊受験経験がなければ空白のままでお願いします。</font></p></td>
  </tr>
  
  <tr>
    <td align="center" colspan="2"><input type="submit" value="次へ" id="submit"></td>
  </tr>
 </table>
</form>
</center>
