<center>
<table border="0" cellpadding="2" cellspacing="0">
<tr>
<td>
  <p>&nbsp;</p>
  <p>&nbsp;何かご不明な点がありましたら遠慮なくお尋ねください。</p>
  <p>&nbsp;本研究へのご理解とご協力に深く感謝いたします。</p><br /><td></td></tr>
  <tr><td><br /><br /><br /><br /><br /></td><td></td></tr>
  <tr><td></td><td align="left">
      <p>問い合わせ先</p>
  <p align="right">神戸大学<br />
                   国際文化学研究科<br />
                   博士課程後期課程1年<br />
                   川村晃市<br />
                   kawamura51.kobe.univ@gmail.com</p></td>
</tr>
</table>
</center>
